@page "/SoldItemsList"
@using Radzen
@using ApplicationCore.Models;
@using ApplicationCore.Interfaces;
@using Infrastructure.Utility;
@using ResaleRarities.Components;
@using ResaleRarities.Authentication;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider authStateProvider


@if (IsLoaded)
{
    <div class="text-center mt-3">
        <RadzenText TextStyle="TextStyle.H5">Sold Items</RadzenText>
    </div>
    
    @if (SoldProductList != null && SoldProductList.Count() > 0)
    {
        <div class="row d-flex justify-content-center">
            @foreach (var soldProduct in SoldProductList)
            {
                <div class="col-lg-3">
                    <AcceptedOfferComponent ProductId="@soldProduct.Id" />
                </div>
            }
        </div>

    }
    else
    {
        <!-- Display error message when no results are found -->
        <div class="alert alert-danger" role="alert">
            <span class="oi oi-warning"></span> No Listings Sold
        </div>
    }

}
else
{
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <p>Loading...</p>
    </div>
}



@code {
    private IEnumerable<Product> SoldProductList = new List<Product>();
    private bool IsLoaded { get; set; } = false;
    [Inject]
    private IUnitofWork? _unitOfWork { get; set; }
    protected async override Task OnInitializedAsync()
    {
        IsLoaded = false;
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        var authState = await customAuthStateProvider.GetAuthenticationStateAsync();
        var userName = authState.User.FindFirst(ClaimTypes.Email).Value;
        //TODO: Add check for if the User.IsIdentified
        var user = _unitOfWork.ApplicationUser.Get(u => u.Email == userName);


        SoldProductList = _unitOfWork.Product.List(p => p.Listing.ApplicationUserId == user.Id && p.Listing.ListingStatus.StatusDescription == SD.LSAcceptedAutomaticOffer, includes: "Category,Condition,Listing");
        IsLoaded = true;
    }
}
