@page "/register"
@inject HttpClient httpClient
@using System.Text.Json
@using System.Text;
@using ApplicationCore.Models.ViewModels
@using ApplicationCore.Models
@using System.Net.Http.Json
@inject NavigationManager NavManager
@inject Infrastructure.Services.NotificationService NotificationService


<div class="container mt-5">
    <EditForm Model="RegistrationModel" OnValidSubmit="HandleRegister">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>

        <div class="card register-card">
            <div class="card-header register-header-footer">
                Register
            </div>
            <div class="card-body register-group">
                <div class="form-group">
                    <label>First Name</label>
                    <InputText class="form-control" @bind-Value="RegistrationModel.FirstName"></InputText>
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <InputText class="form-control" @bind-Value="RegistrationModel.LastName"></InputText>
                </div>
                <div class="form-group mt-2">
                    <label>Email Address</label>
                    <InputText class="form-control" @bind-Value="RegistrationModel.Email"></InputText>
                </div>
                <div class="form-group mt-2">
                    <label>Password</label>
                    <InputText class="form-control" @bind-Value="RegistrationModel.Password"></InputText>
                </div>
                <div class="form-group mt-2">
                    <label>Confirm Password</label>
                    <InputText class="form-control" @bind-Value="RegistrationModel.ConfirmPassword"></InputText>
                </div>
            </div>
            <div class="card-footer register-footer">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </EditForm>
</div>

@code {
    private RegistrationModel RegistrationModel { get; set; } = new();

    private async Task HandleRegister()
    {
        ApplicationUser au = new ApplicationUser
        {
            FirstName = RegistrationModel.FirstName,
            LastName = RegistrationModel.LastName,
            Email = RegistrationModel.Email,
            Password = RegistrationModel.Password
        };
        var result = await httpClient.PostAsJsonAsync("https://resaleraritiesauth.azurewebsites.net/Account/register", au);
        var readResponse = await result.Content.ReadFromJsonAsync<ServiceResponse>();
        if (readResponse.Flag)
        {
            NotificationService.ShowNotification("Registration Successful", "success");
            await Task.Delay(2000);
            NavManager.NavigateTo("/", replace: true);
            RegistrationModel = new RegistrationModel();
        }
        else
        {
            await Application.Current.MainPage.DisplayAlert("Alert", readResponse.Message, "Ok");
            return;
        }
    }
}